body{
    height: 100%;
    width: 100%;
    background-color: #1abc9c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    flex-direction: column;
}

.color-container{
    display: flex;
}
.color-container div{
    margin: 0 5px;
}

.btns{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.btns button{
    margin-right: 5px;
}

.img-sort{
    width: 300px;
    margin-top: 20px;
}
